/* AppHeader.module.css */
.header {
    background-color: var(--mantine-color-dark-0);
    color: var(--mantine-color-text-0);
    padding: 1rem 0;
}

.link {
    text-decoration: none;
    color: inherit;
    margin-right: 1rem;
}

.link:last-child {
    margin-right: 0;
}

.link:hover {
    color: purple;
}